.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    color: #303030;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 8rem;
    z-index: 1000;
    background-color: white;
}

  
.nav ul {
    padding: 1.5rem;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
  
.nav li {
    color: inherit;
    text-decoration: none;
    align-items: center;
    padding: 0.25rem;
    display: flex;
    position: relative;
}
  
.nav li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3CB018;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}
  
.nav li:hover::after {
    width: 100%;
}

.loginBtn {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.signupBtn {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.loginBtn:hover {
    transform: scale(1.05);
    background-color: #3CB018;
    color: white;
}

.signupBtn:hover {
    transform: scale(1.05);
}